In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r'C:\Users\TITAS\Downloads\GunviolenceSA.csv')

In [3]:
data.head()

,Incident Date,State,City Or County,Address,Latitude,Longitude,# Killed,# Injured,featureID,URL
0,24-Jun-18,Texas,San Antonio,NW Loop 410,29.520896,-98.496834,0,0,149084,http://www.gunviolencearchive.org/incident/114...
1,24-Jun-18,Texas,San Antonio,222 N New Braunfels Ave,29.422051,-98.460863,1,0,149008,http://www.gunviolencearchive.org/incident/114...
2,23-Jun-18,Texas,San Antonio,4553 N Loop 1604 W,29.595993,-98.574291,1,0,148100,http://www.gunviolencearchive.org/incident/114...
3,22-Jun-18,Texas,San Antonio,I-35,31.610595,-97.104834,0,0,147609,http://www.gunviolencearchive.org/incident/114...
4,21-Jun-18,Texas,San Antonio,Chihuahua St and Hamilton St,29.416962,-98.532977,1,0,148104,http://www.gunviolencearchive.org/incident/114...

In [4]:
data_incident_date=data['Incident Date']
l=data_incident_date.shape[0]
data_created=[]
for i in range(0,l):
    data_temp=data_incident_date[i].split('-')
    data_created.append(data_temp[1])

In [5]:
data_month = pd.DataFrame({'month':data_created})

In [6]:
data_eff=pd.concat([data_month,data['# Killed'],data['# Injured']], axis = 1)

In [7]:
data_eff.head()

  month  # Killed  # Injured
0   Jun         0          0
1   Jun         1          0
2   Jun         1          0
3   Jun         0          0
4   Jun         1          0

In [8]:
L=list(pd.Categorical(data_eff['month'].unique()))

In [9]:
Total=0
for x in L:
    temp=x
    inj=data_eff.query("month == @temp")['# Injured'].sum()
    kil=data_eff.query("month == @temp")['# Killed'].sum()
    total_per_iter=inj+kil
    if total_per_iter>Total:
        Total=total_per_iter
        month=x
    print(x,':','\t','Injured=',inj,'\t','Killed=',kil,'\t','Total=',total_per_iter)
    
print('Most Kill & injury happened in:',month)

Jun : 	 Injured= 15 	 Killed= 6 	 Total= 21
May : 	 Injured= 23 	 Killed= 7 	 Total= 30
Apr : 	 Injured= 4 	 Killed= 1 	 Total= 5
Most Kill & injury happened in: May